/* User agent style reset and general rules */
*, html, body, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	overflow-x: hidden;
}
ul, ol {
	list-style: none;
}
a {
	text-decoration: none;
}
h1 {
	font-size: 5.5rem;
	font-weight: 900;
}
h2 {
	font-size: 3rem;
	font-weight: 900;
}
h3 {
	font-size: 2rem;
	font-weight: 900;
}
h4 {
	font-size: 1.7rem;
	font-weight: 900;
}
h5 {
	font-size: 1.3rem;
	font-weight: 600;
}
.btn-green {
	background: green;
	border: none;
	border-radius: 7em;
	box-shadow: none;
	color: #FFFFFF;
	cursor: pointer;
	padding: 1em;
}
.wrapper {
	width: 100%;
	height: 100%;
}

/* Header*/
.header {
	background-image: url("/img/Path1.png");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: rgba(0, 0 , 0, .8);
	height: 100%;
	width: 100%;
}
.header-top-pane {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 10em;
}
.header-logo {
	cursor: pointer;
	display: flex;
	min-height: 2em;
}
.header-text {
	color: #FFFFFF;
	font-size: 1.8rem;
	font-weight: 600;
	padding-left: .5em;
	text-transform: uppercase;
	vertical-align: middle;
}
.nav-menu {
	width: 55%;
}
.nav-menu > li > a {
	color: #FFFFFF;
	font-size: 1.3rem;
	font-variant: small-caps;
	font-weight: 600;
}
.header-main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.header-main > h1 {
	color: #FFFFFF;
	margin: 15rem auto 2rem;
	text-align: center;
}
.header-main > p {
	font-size: 1.5rem;
	font-weight: 600;
	color: #FFFFFF;
	margin-bottom: 3.5em;
	text-align: center;
}
.header-main .btn-green {
	width: 10em;
	font-size: 1.5rem;
	margin-bottom: 8em;
}
.header-slider {
	display: flex;
	justify-content: space-around;
	width: 10em;
}
.header-slider .slider-radio {
	width:1.5rem;
	height: 1.5rem;
	border: 1px solid #EEEEEE;
	border-radius: 50%;
	cursor: pointer;
	margin-bottom: 2em;
}
.header-slider .slider-radio:nth-of-type(2) {
	background: green;
}

/* Education section */
.education {
	display: flex;
	justify-content: space-around;
	width: 85%;
	margin: 4em auto;
}
.img-container {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 40%;
}
.education-img {
	min-width: 100%;
	min-height: 100%;
	background-image: url("/img/Rectangle31.png");
	background-size: cover;
	background-repeat: no-repeat;
}
.education-main {
	display: flex;
	flex-direction: column;
	padding-top: 4em;
	margin-left: 2em;
	flex-grow: 2;
	flex-shrink: 1;
	flex-basis: 30%;
}
.education-main > h3 {
	padding-bottom: 1.5em;
}
.education-main  > p {
	font-size: 1.2rem;
	line-height: 1.3;
	min-width: 70%;
	margin-bottom: 3em;
}
.education-advices .education-advice {
	display: flex;
	align-items: center;
	padding-bottom: 2em;
}
.education-advice.learn::before {
	content: url("/img/icon_1.png");
	min-width: 40px;
	min-height: 40px;
}
.education-advice.talk::before {
	content: url("/img/icon_2.png");
	min-width: 40px;
	min-height: 40px;
}
.education-advice.speak::before {
	content: url("/img/icon_3.png");
	min-width: 40px;
	min-height: 40px;
}
.education-advices .education-advice > h4 {
	padding-left: 1em;
}

/* Features section */
.features {
	width: 100%;
	height: 100%;
	background-color: #EEEEEE;
}
.features > h2 {
	padding: 3rem 1rem 2.5rem;
	text-align: center;
}
.features-cards-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 7em;
	grid-row-gap: 4em;
	padding-bottom: 6em;
	margin: 0 auto;
	width: 80%;
}
.features-cards-container .features-card {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: center;
}
.features-card .pic {
	min-width: 150px;
	min-height: 150px;
	background-color: #FFFFFF;
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	margin-bottom: 2em;
}
.features-card .pic.test {
	background-image: url("/img/online_test.png");
}
.features-card .pic.professor {
	background-image: url("/img/expert_professor.png");
}
.features-card .pic.certification {
	background-image: url("/img/trusted_certification.png");
}
.features-card .pic.research {
	background-image: url("/img/scientific_research.png");
}
.features-card .pic.materials {
	background-image: url("/img/audio_video.png");
}
.features-card .pic.professional {
	background-image: url("/img/professional_course.png");
}
.features-card > h3 {
	padding-bottom: 2rem;
	text-align: center;
}
.features-card > p {
	font-size: 1.2em;
	color: grey;
	line-height: 1.3;
}

/* Courses section */
.courses {
	width: 80vw;
	margin: 2em auto;
}
.courses > h2 {
	padding: .5em 0;
	text-align: center;
}
.courses-cards {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	height: 100%;
}
.courses-card {
	background: #EEEEEE;
	display: flex;
	flex-direction: column;
	width: 30%;
}
.courses-img{
	width: 100%;
	height: 25em;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.courses-card .courses-img.design {
	background-image: url("/img/notepad.png");
}
.courses-card .courses-img.photography {
	background-image: url("/img/photo.png");
}
.courses-card .courses-img.marketing {
	background-image: url("/img/watch.png");
}
.courses-details {
	box-shadow: 0 4px 1px -2px #D3D3D3; 
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	line-height: 1.3rem;
	padding-left: 2em;
	margin-bottom: 3em;
	width: 100%;
	word-break: normal;
}
.courses-details > h4 {
	line-height: 1.2em;
	padding: 1.2em 0;
	text-align: left;
}
.courses-details > p {
	color: grey;
	padding-bottom: 1.2em;
	padding-right: 1em;
}
.courses-schedule {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.2rem;
	font-weight: 700;
	line-height: 1.3rem;
	padding-left: 2em;
	width: 90%;
	word-break: normal;
}
.courses-schedule > span {
	font-size: 1.2rem;
	font-weight: 900;
	padding: 0.5em 0;
	box-shadow: 0 4px 1px -2px #D3D3D3; 
	text-align:  center;
	width: 80%;
}
.courses-schedule .btn-green {
	font-size: 1rem;
	font-weight: 600;
	margin: 4em auto .8em;
	width: 90%;
}
.courses-more {
	color: grey;
	display: block;
	font-size: 1.2rem;
	font-weight: 600;
	margin: 3em auto 1.5em;
	text-align: center;
}

/* Teachers section */
.teachers {
	background: #EEEEEE;
}
.teachers > h2 {
	padding: 3rem 1rem 0rem;
	text-align: center;
}
.teachers-block {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2em;
	width: 90%;
	margin: 0 auto;
	padding: 3em 0;
}
.teacher-card {
	display: flex;
}
.teacher-img {
	background-repeat: no-repeat;
	background-size: contain;
	min-width: 7em;
	min-height: 7em;
	margin-right: 1em;
}
.teacher-img.teacher1 {
	background-image: url(/img/photo1.png);
}
.teacher-img.teacher2 {
	background-image: url(/img/photo2.png);
}
.teacher-img.teacher3 {
	background-image: url(/img/photo3.png);
}
.teacher-img.teacher4 {
	background-image: url(/img/photo4.png);
}
.teacher-img.teacher5 {
	background-image: url(/img/photo5.png);
}
.teacher-img.teacher6 {
	background-image: url(/img/photo6.png);
}
.teacher-img.teacher7 {
	background-image: url(/img/photo7.png);
}
.teacher-img.teacher8 {
	background-image: url(/img/photo8.png);
}
.teacher-img.teacher9 {
	background-image: url(/img/photo9.png);
}
.teacher-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.teacher-name {
	font-size: 1.5rem;
	font-weight: 900;
}
.teacher-prof {
	color: green;
	font-size: 1.2rem;
	font-weight: 900;
}

/* Programs section */
.programs > h2 {
	padding: 3rem 1rem 2.5rem;
	text-align: center;
}
.programs-cards {
	display: grid;
	grid-gap: 2em;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	width: 80%;
	margin: 0 auto;
	padding: 1em 0 5em;
}
.program-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 23.5em;
	min-height: 30em;
	background-color: rgba(0, 255, 0, .3);
	background-size: cover;
	background-repeat: no-repeat;
}
.program-card.pre-college {
	background-image: url(/img/Rectangle55.png);
}
.program-card.middle {
	background-image: url(/img/Rectangle56.png);
}
.program-card.high {
	background-image: url(/img/Rectangle57.png);
}
.program-card.exchange {
	background-image: url(/img/Rectangle58.png);
}
.program-card.graduate {
	background-image: url(/img/Rectangle59.png);
}
.program-card.home {
	background-image: url(/img/Rectangle60.png);
}
.program-card > h4,
.program-card > p {
	color: #FFFFFF;
	line-height: 1.5em;
	text-align: center;
	width: 70%;
}
.program-card > h4 {
	line-height: 1.1em;
	padding-bottom: 1em;
}

/* Clients section */
.clients {
	min-width: 100%;
	min-height: 100%;
	background-color: #EEEEEE;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.clients > h2 {
	padding: 3rem 1rem 2.5rem;
	text-align: center;
}
.clients-slider {
	display: flex;
	min-height: 10em;
	min-width: 50%;
}
.clients-slider-control {
	width: 80%;
	height: 6rem;
	position: relative;
}
.clients-slider-control::before {
	content:"";
	cursor: pointer;
	width: 3rem;
	height: 3rem;
	position: absolute;
	top: 20%;
	left: 1%;
	transform: rotate(45deg);
	border-left: 5px solid grey;
	border-bottom: 5px solid grey;
	border-radius: 5px;
}
.clients-slider-control::after {
	content:"";
	cursor: pointer;
	width: 3rem;
	height: 3rem;
	position: absolute;
	top: 20%;
	right: 1%;
	transform: rotate(45deg);
	border-right: 5px solid grey;
	border-top: 5px solid grey;
	border-radius: 5px;
}
.clients-img {
	background-size: contain;
	background-repeat: no-repeat;
	min-width: 20%;
}
/* .clients-img:not(:nth-child(3)) {
	background-color: rgba(0, 0 , 0, .8);
} */
.client1 {
	background-image: url(/img/client.png);
}
.client2 {
	background-image: url(/img/client1.png);
}
.client3 {
	background-image: url(/img/client2.png);
}
.client4 {
	background-image: url(/img/client3.png);
}
.client5 {
	background-image: url(/img/client4.png);
}
.clients-text {
	width: 40%;
	line-height: 1.2em;
	text-align: center;
	padding: 1em 0 5em;
}
.clients-details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1em 0 5em;
}
.clients-details > span {
	line-height: 1.5em;
}
.client-name {
	font-size: 1.7rem;
	font-weight: 600;
}
.client-position {
	font-size: 1.5rem;
	color: grey;
}

/* Blog section */
/* .blog {
	display: flex;
	flex-direction: column;
	justify-content: center;
} */
.blog > h2 {
	padding: 3rem 1rem 2.5rem;
	text-align: center;
}
.blog-cards {
	display: flex;
	width: 100%;
	margin-bottom: 5em;
}
.blog-card {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	width: 20%;
	margin-right: 1em;
}
.blog-card:nth-child(6) {
	margin: 0;
}
.blog-card-img {
	background-size: cover;
	background-repeat: no-repeat;
	min-width: 100%;
	min-height: 22em;
	margin-bottom: 2em;
}
.blog-card > h5 {
	padding-bottom: 1.5em;
	height: 5em;
}
.blog-card > p {
	min-width: 80%;
	text-align: center;
}
.blog-card-img.img1 {
background-image: url(/img/blog.png);
}
.blog-card-img.img2 {
background-image: url(/img/blog1.png);
}
.blog-card-img.img3 {
background-image: url(/img/blog2.png);
}
.blog-card-img.img4 {
background-image: url(/img/blog3.png);
}
.blog-card-img.img5 {
background-image: url(/img/blog4.png);
}
.blog-card-img.img6 {
background-image: url(/img/blog5.png);
}
.blog-button.btn-green {
	display: block;
	margin: 0 auto 5em;
	font-size: 1rem;
	font-weight: 600;
	height: 4em;
	width: 9.5em;
	text-align: center;
}

/* Subscribe section */
.subscribe {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-image: url(/img/Rectangle65.png);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 10em;
}
.subscribe-text {
	color: #FFFFFF;
	font-size: 2rem;
	font-weight: 600;
}
.subscribe-input {
	height: 2em;
	width: 25em;
	border-bottom: 1px solid #FFFFFF;
}
.subscribe-btn.btn-green {
	font-size: 1rem;
	font-weight: 600;
	height: 3.5em;
	width: 9.5em;
	text-align: center;
}
/* Contact section */

/* Footer */
.footer {
	display: flex;
	background-color: rgba(0, 0 , 0, .8);
	height: 7em;
}
.footer-pane {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 2.5em;
	min-width: 100%;
}
.footer-logo {
	cursor: pointer;
	display: flex;
	min-height: 2em;
}
.footer-text {
	color: #FFFFFF;
	font-size: 1.8rem;
	font-weight: 600;
	padding-left: .5em;
	text-transform: uppercase;
	vertical-align: middle;
}
.nav-menu {
	width: 55%;
}
.nav-links {
	display: flex;
	justify-content: space-around;
}
.nav-links > li > a {
	color: #FFFFFF;
	font-size: 1.3rem;
	font-variant: small-caps;
	font-weight: 600;
}